antiorm==1.2.1
asgiref==3.2.7
certifi==2020.4.5.1
db==0.1.1
db-sqlite3==0.0.1
Django==3.0.12
django-cleanup==4.0.0
gunicorn==20.0.4
imagecodecs-lite==2019.12.3
numpy==1.18.1
Pillow==7.1.1
pytz==2019.3
sqlparse==0.3.1
tifffile==2020.2.16
whitenoise==5.0.1
wincertstore==0.2